/*
 * Style sheet for plugin settings page
 *
 * Copyright (c) 2016 Arthur Gareginyan ( http://www.arthurgareginyan.com ).
 * All Rights Reserved.
 */


/* Titles
 -------------------------------------------------------------- */
h2 {
    text-align: center;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
h2 span {
    margin-top: 1px;
    font-size: 0.6em;
    color: black;
    display: inline;
    padding: 0;
}
h2 span a {
    display: inline;
    padding: 0;
}

h3.title {
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    border-bottom: 1px solid #eee;
}

/* Messages
 -------------------------------------------------------------- */
#setting-error-settings_updated {
    display: none;
}

/* Sidebar
 -------------------------------------------------------------- */
#side-sortables {
    position: relative;
}

#side-sortables .postbox {
    text-align: center;
}

#side-sortables #help p {
    margin: 0;
}

/* Responsive page
 -------------------------------------------------------------- */
@media (max-width: 860px) {
    .inner-sidebar {
        display: none !important;
    }
    #post-body-content {
        margin-right: 0 !important;
    }
}

/* Help text
 -------------------------------------------------------------- */
td.help-text {
    font-style: italic;
    font-size: 12px !important;
    float: left;
    clear: left;
    color: #797979;
    line-height: 15px;
    padding-top: 0px !important;
}

/* CodeMirror Editor
 -------------------------------------------------------------- */
.CodeMirror {
    height: 100% !important;
    border: 1px solid #ddd;
    margin-left: 5px;
    margin-right: 5px;
}

/* Other
 -------------------------------------------------------------- */
.form-table {
    clear: none;
    margin-top: 30px;
}

.postbox a {
    text-decoration: none;
}

/* <pre> and <code> tag in "Using" section
 -------------------------------------------------------------- */
#Using pre {
    border: 1px solid grey;
    padding: 3px 5px 2px;
    margin: 0 10px 0 10px;
}
#Using code {
    background: 0;
}