/*
Theme Name: Vantage Child Allianz X
Author: Lukas Giuliani
Author URI: https://www.allianzx.com
Theme URI: https://www.allianzx.com
Description: Vantage Child for Allianz X
Version: 1.0.0
Template: vantage
Text Domain: vantage-child
*/


/*******************************************************************
****************************** VARS ********************************
*******************************************************************/

$buttonNormal: #97d1f0;
$buttonPress: #73BAD8;
$buttonHover: #51A3BE;
$buttonActive: #203c76;

/*******************************************************************
****************************** PAGE WIDTH **************************
*******************************************************************/
body.responsive.layout-full #page-wrapper .full-container{
  max-width: 1200px;
}

/*******************************************************************
****************************** FONTS **************************
*******************************************************************/

.f8 { font-size: 8px !important;}
.f9 { font-size: 9px !important;}
.f10{ font-size:10px !important;}
.f11{ font-size:11px !important;}
.f12{ font-size:12px !important;}
.f13{ font-size:13px !important;}
.f14{ font-size:14px !important;}
.f15{ font-size:15px !important;}
.f16{ font-size:16px !important;}
.f17{ font-size:17px !important;}
.f18{ font-size:18px !important;}
.f19{ font-size:19px !important;}
.f20{ font-size:20px !important;}
.f21{ font-size:21px !important;}
.f22{ font-size:22px !important;}
.f23{ font-size:23px !important;}
.f24{ font-size:24px !important;}
.f25{ font-size:25px !important;}
.f26{ font-size:26px !important;}
.f27{ font-size:27px !important;}
.f28{ font-size:28px !important;}
.f29{ font-size:29px !important;}
.f30{ font-size:30px !important;}
.f31{ font-size:31px !important;}
.f32{ font-size:32px !important;}
.f33{ font-size:33px !important;}
.f34{ font-size:34px !important;}

.l16{ line-height: 16px !important;}
.l17{ line-height: 17px !important;}
.l18{ line-height: 18px !important;}
.l19{ line-height: 19px !important;}
.l20{ line-height: 20px !important;}
.l21{ line-height: 21px !important;}
.l22{ line-height: 22px !important;}
.l23{ line-height: 23px !important;}
.l24{ line-height: 24px !important;}
.l25{ line-height: 25px !important;}
.l26{ line-height: 26px !important;}
.l27{ line-height: 27px !important;}
.l28{ line-height: 28px !important;}
.l29{ line-height: 29px !important;}
.l30{ line-height: 30px !important;}
.l31{ line-height: 31px !important;}
.l32{ line-height: 32px !important;}

.italic{ font-style: italic;}
.bold{   font-weight:bold !important;}

.float-left { float: left;}
.float-right{ float: right;}

/*******************************************************************
************************** NAVIGATION ******************************
*******************************************************************/



/*******************************************************************
*********************** GENEREAL SPACINGS **************************
*******************************************************************/

.pb0 { padding-bottom:  0px !important;}
.pb5 { padding-bottom:  5px !important;}
.pb10{ padding-bottom: 10px !important;}
.pb15{ padding-bottom: 15px !important;}
.pb20{ padding-bottom: 20px !important;}
.pb25{ padding-bottom: 25px !important;}
.pb30{ padding-bottom: 30px !important;}
.pb35{ padding-bottom: 35px !important;}

.pt0{  padding-top:     0px !important;}
.pt5{  padding-top:     5px !important;}
.pt10{ padding-top:    10px !important;}
.pt15{ padding-top:    15px !important;}
.pt20{ padding-top:    20px !important;}
.pt25{ padding-top:    25px !important;}
.pt30{ padding-top:    30px !important;}
.pt35{ padding-top:    35px !important;}

.pl0{ padding-left:     0px !important;}
.pl5{ padding-left:     5px !important;}
.pl10{padding-left:    10px !important;}
.pl15{padding-left:    15px !important;}
.pl20{padding-left:    10px !important;}
.pl25{padding-left:    25px !important;}
.pl30{padding-left:    30px !important;}
.pl35{padding-left:    35px !important;}

.pr0{ padding-right:    0px !important;}
.pr5{ padding-right:    5px !important;}
.pr10{padding-right:   10px !important;}
.pr15{padding-right:   15px !important;}
.pr20{padding-right:   20px !important;}
.pr25{padding-right:   25px !important;}
.pr30{padding-right:   30px !important;}
.pr35{padding-right:   35px !important;}

/*******************************************************************
****************************** BUTTON ******************************
*******************************************************************/
.vacancy-button{
  //background: transparent !important;
  //border: 2px solid $darkBlue !important;
  //border-radius: 8px !important;
  //-webkit-border-radius: 8px !important;
  //color: $darkBlue !important;
  //outline: none !important;
  &:hover, &:focus{
    //background: #DBE8EF !important;
    //border: 2px solid $darkBlue !important;
    //color: $darkBlue !important;
  }
  &:active{
    //background: $lightBlue !important;
    //border: 2px solid $lightBlue !important;
    //color: white !important;
  }
}

/*******************************************************************
***************************** Pagination ***************************
*******************************************************************/



/*******************************************************************
****************************** Container ***************************
*******************************************************************/



/*******************************************************************
****************************** Footer ******************************
*******************************************************************/

#colophon{

}

/*******************************************************************
****************************** MOBILE ******************************
*******************************************************************/

.d_hide{
  display: none;
}

// after your menu collapses and huge tablets
@media (max-width: 1024px){
  .m_show{
    display: block;
  }
}


// big tablets portait
@media (max-width: 935px) {
  .m_show935{
    display: block;
  }
}

// small tablets portrait
@media (max-width: 875px){
  .m_show875{
    display: block;
  }
}

// big smartphones and ipad pro
@media (max-width: 780px){
  .m_show780{
    display: block;
  }
}

// all smartphones
@media (max-width: 600px){
  .m_show600{
    display: block;
  }
}